In [1]:
import pandas as pd

## Proceso de limpieza dataset **energy**

In [2]:
df_emisionesCO2 = pd.read_csv('https://github.com/Wolfgang93/emissionsCO2/tree/main/1.ETL/rawDataset/energyco2.csv?raw=true')

In [3]:
df_emisionesCO2.head()

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547,1409.790188
2,2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547,1081.593377
3,3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547,2455.243565
4,4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547,0.000000

##### ***Eliminación de columnas no servibles***

In [4]:
df_emisionesCO2.drop('Unnamed: 0', axis = 1, inplace = True)

In [5]:
df_emisionesCO2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      55440 non-null  object
 1   Energy_type                  55440 non-null  object
 2   Year                         55440 non-null  int64
 3   Energy_consumption           44287 non-null  float64
 4   Energy_production            44289 non-null  float64
 5   GDP                          40026 non-null  float64
 6   Population                   46014 non-null  float64
 7   Energy_intensity_per_capita  50358 non-null  float64
 8   Energy_intensity_by_GDP      50358 non-null  float64
 9   CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.2+ MB

##### ***Imputación de valores faltantes por 0***

In [6]:
df_emisionesCO2 = df_emisionesCO2.fillna(0)

In [7]:
df_emisionesCO2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      55440 non-null  object
 1   Energy_type                  55440 non-null  object
 2   Year                         55440 non-null  int64
 3   Energy_consumption           55440 non-null  float64
 4   Energy_production            55440 non-null  float64
 5   GDP                          55440 non-null  float64
 6   Population                   55440 non-null  float64
 7   Energy_intensity_per_capita  55440 non-null  float64
 8   Energy_intensity_by_GDP      55440 non-null  float64
 9   CO2_emission                 55440 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.2+ MB

***Toma de datos, desde la fecha considerada (1980)***

In [8]:
df_emisionesCO2 = df_emisionesCO2[df_emisionesCO2['Year'] >= 1980]

##### ***Cambiar Quads a Terawatt por hora***

In [9]:
df_emisionesCO2['Energy_consumption'] = df_emisionesCO2['Energy_consumption'] * 293.07
df_emisionesCO2['Energy_production'] = df_emisionesCO2['Energy_production'] * 293.07

In [10]:
df_emisionesCO2 = df_emisionesCO2.round(3)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

##### ***Normalizado de los valores de columna paises***

In [11]:
countries_list = ['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea', 'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Western Sahara', 'Yemen',   'Yugoslavia', 'Zambia', 'Zimbabwe']

In [12]:
len(countries_list)

222

In [13]:
df_emisionesCO2 = df_emisionesCO2.replace('Cabo Verde','Cape Verde')
df_emisionesCO2 = df_emisionesCO2.replace('U.S. Virgin Islands','United States Virgin Islands')
df_emisionesCO2 = df_emisionesCO2.replace('Côte d’Ivoire',"Cote d'Ivoire")
df_emisionesCO2 = df_emisionesCO2.replace('Guinea-Bissau','Gambia')
df_emisionesCO2 = df_emisionesCO2.replace('Czech Republic','Czechia')
df_emisionesCO2 = df_emisionesCO2.replace('The Bahamas','Bahamas')
df_emisionesCO2 = df_emisionesCO2.replace('Burma','Myanmar')
df_emisionesCO2 = df_emisionesCO2.replace('Macau','Macao')
df_emisionesCO2 = df_emisionesCO2.replace('Gambia, The','Gambia')

In [14]:
df_emisionesCO2_by_country = df_emisionesCO2[df_emisionesCO2.Country.isin(countries_list)]

##### ***Registro de agrupaciones de países***

In [15]:
df_emisionesCO2_world = df_emisionesCO2[df_emisionesCO2['Country'] == 'World']

In [16]:
df_emisionesCO2_groups = df_emisionesCO2[~df_emisionesCO2.Country.isin(countries_list)]
df_emisionesCO2_groups['Country'].unique()

array(['World', 'Congo-Brazzaville', 'Congo-Kinshasa', 'Faroe Islands',
       'Former Czechoslovakia', 'Former Serbia and Montenegro',
       'Former U.S.S.R.', 'Former Yugoslavia', 'Germany, East',
       'Germany, West', 'Hawaiian Trade Zone', 'Palestinian Territories',
       'Saint Vincent/Grenadines', 'U.S. Pacific Islands',
       'U.S. Territories', 'Wake Island'], dtype=object)

#### ***Normalización de columnas***

In [17]:
columns_norm = ["country", "source", 'year', 'consumptionElectricity', 'productionElectricity', 'gdp', 'population', 'intensityPerCapita', 'intensityByGDP', 'co2emissions']

In [18]:
df_emisionesCO2_by_country.columns = columns_norm

In [19]:
df_emisionesCO2_by_country.head()

,country,source,year,consumptionElectricity,productionElectricity,gdp,population,intensityPerCapita,intensityByGDP,co2emissions
6,Afghanistan,all_energy_types,1980,7.791,21.265,0.000,13356.500,1.990,0.000,0.000
7,Afghanistan,coal,1980,0.727,0.690,0.000,13356.500,1.990,0.000,0.000
8,Afghanistan,natural_gas,1980,0.614,18.411,0.000,13356.500,1.990,0.000,0.000
9,Afghanistan,petroleum_n_other_liquids,1980,4.286,0.000,0.000,13356.500,1.990,0.000,0.000
10,Afghanistan,nuclear,1980,0.000,0.000,0.000,13356.500,1.990,0.000,0.000

Normalización de tabla ***'df_emisionesCO2_by_country'***

Considerando las fuentes de energia sin agrupacion

In [20]:
co2_emissions = df_emisionesCO2_by_country

In [21]:
co2_emissions.head()

,country,source,year,consumptionElectricity,productionElectricity,gdp,population,intensityPerCapita,intensityByGDP,co2emissions
6,Afghanistan,all_energy_types,1980,7.791,21.265,0.000,13356.500,1.990,0.000,0.000
7,Afghanistan,coal,1980,0.727,0.690,0.000,13356.500,1.990,0.000,0.000
8,Afghanistan,natural_gas,1980,0.614,18.411,0.000,13356.500,1.990,0.000,0.000
9,Afghanistan,petroleum_n_other_liquids,1980,4.286,0.000,0.000,13356.500,1.990,0.000,0.000
10,Afghanistan,nuclear,1980,0.000,0.000,0.000,13356.500,1.990,0.000,0.000

##### ***Tabla source_energy***

In [22]:
import numpy as np
sources = np.sort(np.array(['all_energy_types', 'biomass', 'coal', 'cogeneration', 'gas','geothermal', 'hydro', 'nuclear', 'oil', 'other', 'other_renewables', 'petcoke', 'renewables', 'solar', 'storage', 'waste', 'wave and tidal', 'wind']))

In [23]:
source_energy = pd.DataFrame(sources.reshape(-1,1), columns = ['source']).reset_index(drop=True)

In [24]:
source_energy = source_energy.reset_index().rename(columns={'index':'idSource'})
source_energy

    idSource            source
0          0  all_energy_types
1          1           biomass
2          2              coal
3          3      cogeneration
4          4               gas
5          5        geothermal
6          6             hydro
7          7           nuclear
8          8               oil
9          9             other
10        10  other_renewables
11        11           petcoke
12        12        renewables
13        13             solar
14        14           storage
15        15             waste
16        16    wave and tidal
17        17              wind

In [25]:
source_energy.to_csv('../Modelo_ER/source_energy.csv', index=False)

##### ***Tabla emission***

Consistencia de valores de las fuentes de energia

- renewables_n_other : other_renewables
- petroleum_n_other_liquids: oil
- natural_gas:gas

In [26]:
co2_emissions = co2_emissions.replace('renewables_n_other','other_renewables')
co2_emissions = co2_emissions.replace('petroleum_n_other_liquids','oil')
co2_emissions = co2_emissions.replace('natural_gas','gas')

In [27]:
columns_emission = ['country', 'year','source','co2emissions']

In [28]:
emission = co2_emissions[columns_emission]

In [29]:
emission.drop_duplicates(subset = ['country', 'year','source'], inplace=True)

C:\Users\Ale\AppData\Local\Temp\ipykernel_10416\2133593252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emission.drop_duplicates(subset = ['country', 'year','source'], inplace=True)

In [30]:
emission.head()

        country  year            source  co2emissions
6   Afghanistan  1980  all_energy_types         0.000
7   Afghanistan  1980              coal         0.000
8   Afghanistan  1980               gas         0.000
9   Afghanistan  1980               oil         0.000
10  Afghanistan  1980           nuclear         0.000

In [31]:
emission.reset_index(drop=True).to_csv('../Modelo_ER/emission.csv', index=False)

##### ***Tabla source_country_electricity de energyCO2***

In [32]:
source_country_electricity_energyCO2 = co2_emissions[['country', 'year', 'source', 'consumptionElectricity', 'productionElectricity']].sort_values(by=['country','year', 'source'])

In [33]:
source_country_electricity_energyCO2 = source_country_electricity_energyCO2[source_country_electricity_energyCO2['source'] != 'all_energy_types']

In [34]:
source_country_electricity_energyCO2.head()

,country,year,source,consumptionElectricity,productionElectricity
7,Afghanistan,1980,coal,0.727,0.690
8,Afghanistan,1980,gas,0.614,18.411
10,Afghanistan,1980,nuclear,0.000,0.000
9,Afghanistan,1980,oil,4.286,0.000
11,Afghanistan,1980,other_renewables,2.165,2.165

In [35]:
source_country_electricity_energyCO2.drop_duplicates(subset = ['country','year','source'], inplace = True)

In [36]:
source_country_electricity_energyCO2.sort_values(by=['country','year','source']).reset_index(drop=True).to_csv('../normalizedDataset_2/source_country_electricity_energyCO2.csv', index=False)

##### **Subida a github**

In [37]:
#from github import Github
#token = ''
#g = Github(token)
#repo = g.get_repo('')

ImportError: cannot import name 'Github' from 'github' (c:\Users\Ale\AppData\Local\Programs\Python\Python310\lib\site-packages\github\__init__.py)

In [ ]:
#try:
#    repo.create_file('energyco2_by_country.csv','Limpieza emisiones CO2 por país', df_emisionesCO2_by_country.to_csv( index = False))
#except:
#    contents = repo.get_contents('energyco2_by_country.csv')
#    repo.update_file(contents.path, 'Actualización, limpieza CO2 por país', df_emisionesCO2_by_country.to_csv(index = False), contents.sha)

In [ ]:
#try:
#    repo.create_file('energyco2_worlds.csv','Limpieza emisiones C02 mundial', df_emisionesCO2_world.to_csv( index = False))
#except:
#    contents = repo.get_contents('energyco2_worlds.csv')
#    repo.update_file(contents.path, 'Actualización, limpieza CO2 mundial', df_emisionesCO2_world.to_csv(index = False), contents.sha)

In [38]:
df_emisionesCO2_by_country.to_csv('../normalizedDataset/energyco2_by_country.csv',index = False)

df_emisionesCO2_world.to_csv('../normalizedDataset/energyco2_worlds.csv',index = False)