## Proceso de limpieza dataset ***global_power***

Cargando csv global_power_plant_database

In [1]:
import pandas as pd

In [2]:
global_power_db = pd.read_csv('https://github.com/Wolfgang93/emissionsCO2/tree/main/1.ETL/rawDataset/global_power_plant_database.csv?raw=true', encoding= 'utf8')
global_power_db.head(5)

C:\Users\Ale\AppData\Local\Temp\ipykernel_2560\1307379111.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  global_power_db = pd.read_csv('https://github.com/Wolfgang93/emissionsCO2/blob/main/rawDataset/global_power_plant_database.csv?raw=true', encoding= 'utf8')

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017,estimated_generation_note_2013,estimated_generation_note_2014,estimated_generation_note_2015,estimated_generation_note_2016,estimated_generation_note_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.0,32.322,65.1190,Hydro,NaN,NaN,...,123.77,162.90,97.39,137.76,119.50,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
1,AFG,Afghanistan,Kandahar DOG,WKS0070144,10.0,31.670,65.7950,Solar,NaN,NaN,...,18.43,17.48,18.25,17.70,18.29,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
2,AFG,Afghanistan,Kandahar JOL,WKS0071196,10.0,31.623,65.7920,Solar,NaN,NaN,...,18.64,17.58,19.10,17.62,18.72,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.0,34.556,69.4787,Hydro,NaN,NaN,...,225.06,203.55,146.90,230.18,174.91,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.0,34.641,69.7170,Hydro,NaN,NaN,...,406.16,357.22,270.99,395.38,350.80,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1

country / name energy plant / latitude longitude / primary fuel / other fuel 1/ other fuel 2/ other fuel 3/

##### ***Seleccionando las columnas que serán trabajadas***

In [3]:
global_power_db_filtred = global_power_db[["country",'country_long',"name","latitude","longitude","primary_fuel"]]
global_power_db_filtred.head(3)

,country,country_long,name,latitude,longitude,primary_fuel
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,32.322,65.119,Hydro
1,AFG,Afghanistan,Kandahar DOG,31.670,65.795,Solar
2,AFG,Afghanistan,Kandahar JOL,31.623,65.792,Solar

Identificamos los campos nulos

In [4]:
global_power_db_filtred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       34936 non-null  object
 1   country_long  34936 non-null  object
 2   name          34936 non-null  object
 3   latitude      34936 non-null  float64
 4   longitude     34936 non-null  float64
 5   primary_fuel  34936 non-null  object
dtypes: float64(2), object(4)
memory usage: 1.6+ MB

##### ***Revisando duplicados***

In [5]:
global_power_db_filtred.drop_duplicates(inplace= True)

C:\Users\Ale\AppData\Local\Temp\ipykernel_2560\2471672682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  global_power_db_filtred.drop_duplicates(inplace= True)

In [6]:
global_power_db_filtred.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34929 entries, 0 to 34935
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       34929 non-null  object
 1   country_long  34929 non-null  object
 2   name          34929 non-null  object
 3   latitude      34929 non-null  float64
 4   longitude     34929 non-null  float64
 5   primary_fuel  34929 non-null  object
dtypes: float64(2), object(4)
memory usage: 1.9+ MB

##### ***Normalización de columna países***

In [7]:
countries_list = ['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea', 'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Western Sahara', 'Yemen',   'Yugoslavia', 'Zambia', 'Zimbabwe']

In [8]:
len(countries_list)

222

In [9]:
global_power_db_filtred = global_power_db_filtred.replace('Neuhardenberg PV3,4+5','Neuhardenberg PV3.4+5')

In [10]:
global_power_db_filtred = global_power_db_filtred.replace('Brunei Darussalam','Brunei')
global_power_db_filtred = global_power_db_filtred.replace('Cote DIvoire',"Cote d'Ivoire")
global_power_db_filtred = global_power_db_filtred.replace('Czech Republic','Czechia')
global_power_db_filtred = global_power_db_filtred.replace('Democratic Republic of the Congo','Congo')
global_power_db_filtred = global_power_db_filtred.replace('Macedonia', 'North Macedonia')
global_power_db_filtred = global_power_db_filtred.replace('Swaziland','Eswatini')
global_power_db_filtred = global_power_db_filtred.replace('Syrian Arab Republic', 'Syria')
global_power_db_filtred = global_power_db_filtred.replace('United States of America','United States')
global_power_db_filtred = global_power_db_filtred.replace('Guinea-Bissau','Guinea Bissau')

In [11]:
global_power_db_filtred_by_country = global_power_db_filtred[global_power_db_filtred.country_long.isin(countries_list)]

In [12]:
global_power_db_filtred

,country,country_long,name,latitude,longitude,primary_fuel
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,32.3220,65.1190,Hydro
1,AFG,Afghanistan,Kandahar DOG,31.6700,65.7950,Solar
2,AFG,Afghanistan,Kandahar JOL,31.6230,65.7920,Solar
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,34.5560,69.4787,Hydro
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,34.6410,69.7170,Hydro
...,...,...,...,...,...,...
34931,ZMB,Zambia,Ndola,-12.9667,28.6333,Oil
34932,ZMB,Zambia,Nkana,-12.8167,28.2000,Oil
34933,ZMB,Zambia,Victoria Falls,-17.9167,25.8500,Hydro
34934,ZWE,Zimbabwe,Hwange Coal Power Plant Zimbabwe,-18.3835,26.4700,Coal
34935,ZWE,Zimbabwe,Kariba Dam South Hydroelectric Power Station Z...,-16.5222,28.7619,Hydro

##### ***Normalización de columnas***

In [13]:
columns_global_plant = ['country','namePlant','latitude','longitude','primaryfuel']

In [14]:
global_power_db_filtred_by_country.drop('country', axis = 1, inplace=True)

In [15]:
global_power_db_filtred_by_country.columns = columns_global_plant

In [16]:
global_power_db_filtred_by_country.head()

,country,namePlant,latitude,longitude,primaryfuel
0,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,32.322,65.1190,Hydro
1,Afghanistan,Kandahar DOG,31.670,65.7950,Solar
2,Afghanistan,Kandahar JOL,31.623,65.7920,Solar
3,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,34.556,69.4787,Hydro
4,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,34.641,69.7170,Hydro

##### Normalización de tabla ***global_power_db_filtred_by_country***

In [17]:
global_power_db_filtred_by_country.head()

,country,namePlant,latitude,longitude,primaryfuel
0,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,32.322,65.1190,Hydro
1,Afghanistan,Kandahar DOG,31.670,65.7950,Solar
2,Afghanistan,Kandahar JOL,31.623,65.7920,Solar
3,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,34.556,69.4787,Hydro
4,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,34.641,69.7170,Hydro

In [18]:
global_power_db_filtred_by_country['primaryfuel'] = global_power_db_filtred_by_country['primaryfuel'].str.lower()

In [19]:
global_power_db_filtred_by_country['primaryfuel'].unique()

array(['hydro', 'solar', 'gas', 'other', 'oil', 'wind', 'nuclear', 'coal',
       'waste', 'biomass', 'wave and tidal', 'petcoke', 'geothermal',
       'storage', 'cogeneration'], dtype=object)

***Tabla plant***

In [20]:
plant = global_power_db_filtred_by_country[['country','namePlant','latitude','longitude','primaryfuel']]

In [21]:
plant.drop_duplicates(subset=['country','namePlant'], inplace=True)

In [22]:
plant.head()

,country,namePlant,latitude,longitude,primaryfuel
0,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,32.322,65.1190,hydro
1,Afghanistan,Kandahar DOG,31.670,65.7950,solar
2,Afghanistan,Kandahar JOL,31.623,65.7920,solar
3,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,34.556,69.4787,hydro
4,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,34.641,69.7170,hydro

In [23]:
plant.sort_values(by='country').reset_index(drop=True).to_csv('../Modelo_ER/plant.csv', header=True, index=False)

##### ***Subida a github***

In [24]:
#from github import Github

In [25]:
#token = ''

In [26]:
#g = Github(token)

In [27]:
#repo = g.get_repo('')

In [28]:
#Crear/Actualizar csv  en el repo git
#try:
#    repo.create_file('global_power_db_filtred_by_country.csv','Limpieza plantas por país', global_power_db_filtred.to_csv(index = False))
#except:
#    contents = repo.get_contents('global_power_db_filtred_by_country.csv')
#    repo.update_file(contents.path, 'Actualización, limpieza plantas por país', global_power_db_filtred.to_csv(index = False), contents.sha)

In [29]:
global_power_db_filtred.to_csv('../normalizedDataset/global_power_db_filtred_by_country.csv',index = False)