In [1]:
import pandas as pd

# Diccionario de datos

## Dataset Energy

In [2]:
data = pd.read_csv('https://github.com/Wolfgang93/emissionsCO2/blob/main/rawDataset/energyco2.csv?raw=true')

In [3]:
data.head()

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547,1409.790188
2,2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547,1081.593377
3,3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547,2455.243565
4,4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547,0.000000

In [4]:
data.drop('Unnamed: 0', axis = 1, inplace = True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      55440 non-null  object
 1   Energy_type                  55440 non-null  object
 2   Year                         55440 non-null  int64
 3   Energy_consumption           44287 non-null  float64
 4   Energy_production            44289 non-null  float64
 5   GDP                          40026 non-null  float64
 6   Population                   46014 non-null  float64
 7   Energy_intensity_per_capita  50358 non-null  float64
 8   Energy_intensity_by_GDP      50358 non-null  float64
 9   CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.2+ MB

In [6]:
data = data[data['Year'] >= 1980]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55440 entries, 0 to 55439
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      55440 non-null  object
 1   Energy_type                  55440 non-null  object
 2   Year                         55440 non-null  int64
 3   Energy_consumption           44287 non-null  float64
 4   Energy_production            44289 non-null  float64
 5   GDP                          40026 non-null  float64
 6   Population                   46014 non-null  float64
 7   Energy_intensity_per_capita  50358 non-null  float64
 8   Energy_intensity_by_GDP      50358 non-null  float64
 9   CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.7+ MB

In [8]:
columns_dic = ['Country','Energy_type','Year','Energy_consumption','Energy_production','GDP','Population', 'Energy_intensity_per_capita', 'Energy_intensity_by_GDP', 'CO2_emission']

### ***Analisis de Country***

https://www.un.org/en/about-us/member-states#gotoT

In [9]:
countries = pd.read_clipboard()

***Consideramos solo miembros ONU*** :
 - Paises a eliminar: 'Antarctica', 'American Samoa', 'Bermuda', 'Burma', 'British Virgin Islands', 'Cayman Islands', 'Cook Islands', 'Falkland Islands', 'Faroe Islands', 'Guadeloupe', 'Guam', 'Greenland', 'Gibraltar', 'Hawaiian Trade Zone', 'Hong Kong', 'Kosovo', 'Macau', 'Martinique', 'Montserrat', 'Netherlands Antilles', 'New Caledonia', 'Niue', 'Northern Mariana Islands', 'Palestinian Territories', 'Puerto Rico', 'Reunion', 'Saint Helena', 'Saint Pierre and Miquelon', 'Taiwan', 'Turks and Caicos Islands', 'U.S. Pacific Islands', , 'U.S. Territories', 'U.S. Virgin Islands', 'Western Sahara', 'Wake Island', 

 - Paises faltantes: 'Andorra', 'Liechtenstein', 'Marshall Islands', 'Monaco', 'Myanmar', 'Palau', 'San Marino', 
 - Paises posibles a cambiar nombre: 'Brunei' ('Brunei Darussalam'), 'Gambia, The'(Gambia (Republic of The)), 'Moldova' (Republic of Moldova) , 

 - Paises a unir: ['Congo-Brazzaville', 'Congo-Kinshasa'], 
 - Generalidades: 'Former Yugoslavia' (Bosnia y Herzegovina, Croacia, Eslovenia, Macedonia, Montenegro y Serbia) , 'Former Serbia and Montenegro' (Serbia y Montenegro), 'Former Czechoslovakia' (Czech Republic and Slovakia), +Germany ('Germany, East','Germany, West'), 'World',

In [10]:
data.Country[data.Country.str.match(r'(^[Mm].*)')==True].unique()

array(['Macau', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Malta', 'Martinique', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique'], dtype=object)

## Dataset Energy_Soure

In [11]:
data_2 = pd.read_csv('https://github.com/Wolfgang93/emissionsCO2/blob/main/rawDataset/owid-energy-consumption-source.csv?raw=true')

In [12]:
data_2.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Afghanistan,1900,AFG,4832414.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,AFG,4879685.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,AFG,4935122.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,AFG,4998861.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,AFG,5063419.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data_2.country.unique().size

314

***Consideramos solo miembros ONU*** :
 - Paises a eliminar: 'Antarctica', 'American Samoa', 'British Virgin Islands', 'Cayman Islands', 'Chad', 'Cook Islands', 'Faeroe Islands', 'Falkland Islands', 'French Guiana', 'French Polynesia', 'G20 (Ember)', 'G7 (Ember)',  'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Hong Kong', 'Kosovo', 'Macao', 'Martinique', 'Moldova', 'Montserrat', 'New Caledonia', 'Niue', 'Northern Mariana Islands', 'Puerto Rico', 'Palestine', 'Reunion', 'Saint Helena',  'Saint Pierre and Miquelon', 'Taiwan',  'Tanzania', 'Turks and Caicos Islands', 'Yugoslavia', 'Western Sahara'


 - Paises faltantes: 'Andorra',  'Belize', 'chad', 'Comoros', 'Liechtenstein', 'Marshall Islands', 'Monaco', 'Myanmar', 'Palau', 'San Marino', 

 - Paises posibles a cambiar nombre: 'Brunei' ('Brunei Darussalam'), 'Cape verde' (Cabo Verde), 'Guinea-Bissau' (Guinea Bissau), 'Timor' (Timor-Leste), 'Laos' (Lao People’s Democratic Republic), 'North Korea', 

 - Paises a unir: 

 - Generalidades: 'Africa', 'Africa (BP)', 'Africa (Shift)', 'Asia',
       'Asia & Oceania (EIA)', 'Asia Pacific (BP)',
       'Asia and Oceania (Shift)', 'Australia and New Zealand (EIA)', 'CIS (BP)', 'Central & South America (EIA)',
       'Central African Republic', 'Central America (BP)',
       'Central and South America (Shift)', 'Czechoslovakia', 'EU28 (Shift)', 'East Germany (EIA)', 'Eastern Africa (BP)', 'Eurasia (EIA)',
       'Eurasia (Shift)', 'Europe', 'Europe (BP)', 'Europe (Shift)',
       'European Union (27)', 'European Union (EIA)', 'Hawaiian Trade Zone (EIA)', 'High-income countries', 'IEO - Africa (EIA)', 'IEO - Middle East (EIA)',
       'IEO OECD - Europe (EIA)', 'Inde (Shift)', 'Latin America and Caribbean (Ember)', 'Low-income countries',
       'Lower-middle-income countries', 'Mexico, Chile, and other OECD Americas (EIA)',  'Middle Africa (BP)', 'Middle East (BP)',
       'Middle East (EIA)', 'Middle East (Ember)', 'Middle East (Shift)', 'Netherlands Antilles', 'Non-OECD (BP)', 'Non-OECD (EIA)', 'Non-OPEC (EIA)',
       'North America', 'North America (BP)', 'North America (Shift)' , 'OECD (BP)', 'OECD (EIA)', 'OECD (Ember)', 'OECD (Shift)',
       'OECD - Asia And Oceania (EIA)', 'OECD - Europe (EIA)',
       'OECD - North America (EIA)', 'OPEC (EIA)', 'OPEC (Shift)',
       'OPEC - Africa (EIA)', 'OPEC - South America (EIA)', 'Oceania', 'Other Africa (BP)', 'Other Asia Pacific (BP)',
       'Other CIS (BP)', 'Other Caribbean (BP)',
       'Other Eastern Africa (BP)', 'Other Europe (BP)',
       'Other Middle Africa (BP)', 'Other Middle East (BP)',
       'Other Non-OECD - America (EIA)', 'Other Non-OECD - Asia (EIA)',
       'Other Non-OECD - Europe and Eurasia (EIA)',
       'Other Northern Africa (BP)', 'Other South America (BP)',
       'Other South and Central America (BP)',
       'Other Southern Africa (BP)', 'Other Western Africa (BP)', 'Persian Gulf (EIA)', 'Persian Gulf (Shift)', 'Serbia and Montenegro', 'South America', 'South Korea and other OECD Asia (EIA)', 'South and Central America (BP)', 'Total Non-OPEC (BP)', 'Total OPEC (BP)', 'U.S. Pacific Islands (EIA)', 'U.S. Pacific Islands (Shift)',
       'U.S. Territories (EIA)', 'U.S. Territories (Shift)', 'USSR', 'United States Virgin Islands',
       'Upper-middle-income countries', 'Wake Island (EIA)', 'Wake Island (Shift)', 'West Germany (EIA)',
       'Western Africa (BP)', 'World'

In [14]:
data_2.country[data_2.country.str.match(r'(^[Zz].*)')==True].unique()

array(['Zambia', 'Zimbabwe'], dtype=object)

## Dataset Industries

In [15]:
data_3 = pd.read_csv('https://github.com/Wolfgang93/emissionsCO2/blob/main/rawDataset/global_power_plant_database.csv?raw=true')

C:\Users\Ale\AppData\Local\Temp\ipykernel_14132\3942448436.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data_3 = pd.read_csv('https://github.com/Wolfgang93/emissionsCO2/blob/main/rawDataset/global_power_plant_database.csv?raw=true')

In [16]:
data_3.head()

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017,estimated_generation_note_2013,estimated_generation_note_2014,estimated_generation_note_2015,estimated_generation_note_2016,estimated_generation_note_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.0,32.322,65.1190,Hydro,NaN,NaN,...,123.77,162.90,97.39,137.76,119.50,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
1,AFG,Afghanistan,Kandahar DOG,WKS0070144,10.0,31.670,65.7950,Solar,NaN,NaN,...,18.43,17.48,18.25,17.70,18.29,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
2,AFG,Afghanistan,Kandahar JOL,WKS0071196,10.0,31.623,65.7920,Solar,NaN,NaN,...,18.64,17.58,19.10,17.62,18.72,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.0,34.556,69.4787,Hydro,NaN,NaN,...,225.06,203.55,146.90,230.18,174.91,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.0,34.641,69.7170,Hydro,NaN,NaN,...,406.16,357.22,270.99,395.38,350.80,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1

***Consideramos solo miembros ONU*** :
 - Paises a eliminar: 'Antarctica', 'American Samoa', 'French Guiana', 'Kosovo', 'Moldova', 'Palestine', 'Taiwan',  'Tanzania', 'Western Sahara'

 - Paises faltantes: 'Andorra',  'Belize', 'chad', 'Comoros', 'Liechtenstein', 'Marshall Islands', 'Monaco', 'Myanmar', 'Palau', 'San Marino', 

 - Paises posibles a cambiar nombre: 'Brunei' ('Brunei Darussalam'), 'Cape verde' (Cabo Verde), 'Laos' (Lao People’s Democratic Republic), 'North Korea', 'Swaziland' (Eswatini), 'Macedonia' (North Macedonia)

 - Paises a unir: 

 - Generalidades:

In [17]:
data_3.country_long[data_3.country_long.str.match(r'(^[Tt].*)')==True].unique()

array(['Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan'],
      dtype=object)

In [18]:
data_3.country_long.unique().size

167